body {
	background-color: #6699ff;;
}	

.column {
  float: left;
  width: 50%;
  align: center;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.navguide ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00affd;
}

.icons li {
  float: left;
  border-right:1px solid black;
}

.icons li:last-child {
  border-right: none;
}

.icons li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 136.4px;
  text-decoration: none;
}

.icons a:hover:not(.active) {
  background-color: #111;
}

.icons .active {
  background-color: #4CAF50;
}

.icons a:link {
    color: blue;
}

.icons a:visited {
    color: purple;
}

.icons a:hover {
    color: red;
}

.icons a:active {
    color: yellow;
}
